@model Dogs.Models.Dog
<td>
    @Html.DisplayFor(model => model.Name)
</td>
<td>
    @Html.DisplayFor(model => model.DateOfBirth)
</td>
<td>
    @Html.DisplayFor(model => model.HereSince)
</td>
<td>
    @Html.DisplayFor(model => model.Description)
</td>
<td>
    @Html.DisplayFor(model => model.Race.Race) 
</td>
